body {
    background: #333;
    color: white;
    font-family: georgia;
    margin: 50px;
}

h1 {
    color: gold;
    text-align: center;
}

img {
    width: 400px;
    margin: 20px auto;
    border: 2px solid brown;
}

a {
    color: tan;
}
